:root {
  --blue: #cde4fc;
  --darkblue: #1265c3bc;
  --green: #bdd4d1;
  --darkgreen: #1a8678bb;
  --orange: #f5d9c6;
  --darkorange: #fa893ed5;
  --red: #f6cbd0;
  --darkred: #e55c6cc4;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 10%;
  padding-bottom: 10%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 10;
}

body {
  padding-right: 5%;
  padding-bottom: 10%;
  padding-left: 5%;
}

.rounded-bottom-right-1 {
  border-bottom-right-radius: .25rem;
}

.rounded-bottom-left-1 {
  border-bottom-left-radius: .25rem;
}

.bg-success-custom{
  background-color: var(--green) !important;
}

.bg-primary-custom {
  background-color: var(--blue) !important;
}

.bg-warning-custom {
  background-color: var(--orange) !important;
}

.bg-danger-custom {
  background-color: var(--red) !important;
}

.bg-success-custom:hover {
  background-color: var(--darkgreen) !important;
  color: white;
}

.bg-primary-custom:hover {
  background-color: var(--darkblue) !important;
  color: white;
}

.bg-warning-custom:hover {
  background-color: var(--darkorange) !important;
  color: white;
}

.bg-danger-custom:hover {
  background-color: var(--darkred) !important;
  color: white;
}

.bg-dark-primary-custom {
  background-color: var(--darkblue);
}

.profile-btn {
  border-color: black !important;
  margin-right: 2%;
}

.profile-btn:hover {
  background-color: black !important;
  color: white !important;
}

.application-btn {
  background-color: var(--blue) !important;
  color: black !important;
}

.application-btn:hover {
  background-color: var(--darkblue) !important;
  color: white !important;
}